.add-icon-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.p-h{
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
}
.img-layout-question{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
    }
}
.logout{
    cursor: pointer;
}